<!DOCTYPE html>
<html lang="ru">
  <head>
    <link
      rel="stylesheet"
      href="https://win-doors.ru/cache/css/0b9d91937825972aa0982c42431ddcbd.css"
      type="text/css"
      media="screen"
      charset="utf-8"
    />
    <meta name="robots" content="all" />
    <link
      rel="alternate"
      type="application/rss+xml"
      title="RSS"
      href="https://win-doors.ru/news/rss/"
    />
    <link
      rel="alternate"
      type="application/rss+xml"
      title="RSS"
      href="https://win-doors.ru/clauses/rss/"
    />
    <title>
      Деревянные окна. Продажа качественных евроокон из дерева в Волгограде
    </title>
    <meta charset="utf-8" />
    <meta content="Russian" name="language" />
    <meta content="DIAFAN.CMS https://www.diafan.ru/" name="author" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta
      name="description"
      content="WinWood - качественные деревянные окна: производство, продажа, установка, замена."
    />
    <meta
      name="keywords"
      content="деревянный окно финский дерево Волгоград установка замена стеклопакет деревянные стеклопакеты окна со стеклопакетом евроокна "
    />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://win-doors.ru/cache/css/3005c7c5895893526002c9e0c47dce6f.css"
      rel="stylesheet"
      type="text/css"
    />
  </head>
  <body>
    <header class="header header--main">
      <div class="header__wrap">
        <a class="logo" href="https://win-doors.ru/"
          ><img
            class="useradmin_contener"
            data-useradmin=""
            src="https://win-doors.ru/userfiles/site/theme/logo1.png"
            width=""
            height=""
            alt=""
        /></a>
        <a href="#menu" class="header__mobile"></a>
        <nav class="menu">
          <ul class="menu__list">
            <li class="menu__item menu__item--active">
              <a href="https://win-doors.ru/" class="menu__link">Главная</a>
            </li>
            <li class="menu__item">
              <div class="menu__link">Наше портфолио</div>
              <div class="menu__dropdown">
                <div class="menu__wrap">
                  <ul class="menu__sublist">
                    <li class="menu__subitem">
                      <a href="https://win-doors.ru/foto.html">Фото</a>
                    </li>
                    <li class="menu__subitem">
                      <a href="https://win-doors.ru/video_okon.html">Видео</a>
                    </li>
                  </ul>
                </div>
              </div>
            </li>
            <li class="menu__item">
              <a href="https://win-doors.ru/otzyvy.html" class="menu__link"
                >Отзывы клиентов</a
              >
            </li>
            <li class="menu__item menu__item--active">
              <div class="menu__link">Профили окон</div>
              <div class="menu__dropdown">
                <div class="menu__wrap">
                  <ul class="menu__sublist">
                    <li class="menu__subitem">
                      <a href="https://win-doors.ru/derevyannye-okna.html"
                        >Деревянные окна</a
                      >
                    </li>
                    <li class="menu__subitem">
                      <a
                        href="https://win-doors.ru/derevo-alyuminievye-okna.html"
                        >Дерево-алюминиевые окна</a
                      >
                    </li>
                  </ul>
                </div>
              </div>
            </li>
            <li class="menu__item">
              <a href="https://win-doors.ru/tsveta.html" class="menu__link"
                >Цвета</a
              >
            </li>
            <li class="menu__item">
              <div class="menu__link">Цены</div>
              <div class="menu__dropdown">
                <div class="menu__wrap">
                  <ul class="menu__sublist">
                    <li class="menu__subitem">
                      <a href="https://win-doors.ru/kalkuljator.html"
                        >Цены на часто заказываемые окна</a
                      >
                    </li>
                  </ul>
                </div>
              </div>
            </li>
            <li class="menu__item">
              <a
                href="https://win-doors.ru/dostavka-i-montazh.html"
                class="menu__link"
                >Доставка и монтаж</a
              >
            </li>
            <li class="menu__item">
              <a
                href="https://win-doors.ru/iz-chego-skladyvaetsya-stoimost-derevyannogo-okna.html"
                class="menu__link"
                >Конструктор желаний</a
              >
            </li>
            <li class="menu__item menu__item--active">
              <div class="menu__link">Дополнительно</div>
              <div class="menu__dropdown">
                <div class="menu__wrap">
                  <ul class="menu__sublist">
                    <li class="menu__subitem">
                      <a href="https://win-doors.ru/elementy-okna.html"
                        >Элементы окна</a
                      >
                    </li>
                    <li class="menu__subitem">
                      <a href="https://win-doors.ru/okonnaja-furnitura.html"
                        >Оконная фурнитура</a
                      >
                    </li>
                    <li class="menu__subitem">
                      <a
                        href="https://win-doors.ru/okonnyy_kleenyy_brus_listvennitsa_okno.html"
                        >Оконный брус</a
                      >
                    </li>
                    <li class="menu__subitem">
                      <a href="https://win-doors.ru/material-okon.html"
                        >Материалы для окон</a
                      >
                    </li>
                    <li class="menu__subitem">
                      <a href="https://win-doors.ru/raznovidnosti_okon.html"
                        >Разновидности окон</a
                      >
                    </li>
                    <li class="menu__subitem">
                      <a href="https://win-doors.ru/steklopaket.html"
                        >Разновидности стеклопакетов</a
                      >
                    </li>
                  </ul>
                </div>
              </div>
            </li>
            <li class="menu__item">
              <a href="https://win-doors.ru/news.html" class="menu__link"
                >Новости компании</a
              >
            </li>
            <li class="menu__item">
              <a href="https://win-doors.ru/kontakty.html" class="menu__link"
                >Контакты</a
              >
            </li>
          </ul>
        </nav>
        <div class="header__user">
          <a href="tel:+799954010246" class="btn header__btn">
            +7 (995) 401 02 46
          </a>
          <a href="rusydoma@gmail.com" class="header__mail">
            rusydoma@gmail.com
          </a>
        </div>
      </div>
    </header>
    <main>
      <section class="promo">
        <div class="promo__wrap">
          <div class="wrapper">
            <h1>Деревянные окна WINWOOD от Руслана</h1>
            <p class="promo__subtitle">ЧЕСТНО О ТОМ, ЧТО МЫ ЛЮБИМ</p>
            <p class="promo__title">
              Производство и продажа деревянных окон в Волгограде
            </p>
            <a href="#order" class="btn promo__btn order-btn"
              >ЗАКАЗАТЬ РАСЧЁТ ОКНА</a
            >
          </div>
        </div>
        <div class="benefits">
          <div class="benefits__wrap">
            <ul class="benefits__list">
              <li class="benefits__item"><b>0 лет</b> на рынке</li>
              <li class="benefits__item"><b>Гарантия</b> не дадим</li>
              <li class="benefits__item"><b>Надежность</b> компании</li>
              <li class="benefits__item">
                <b>Качественная</b> продукция если она есть
              </li>
            </ul>
          </div>
        </div>
        <div class="promo__text">
          <div class="wrapper">
            <ul>
              <li>
                Окна и входные двери любой сложности и стиля для квартир и домов
              </li>
              <li>
                Витражное остекление с применением стоечно-ригельной системы
              </li>
              <li>Современные способы остекления больших проемов</li>
              <li>Остекление зимних садов, веранд, бассейнов</li>
            </ul>
          </div>
        </div>
      </section>
      <section class="profile">
        <div class="wrapper">
          <h2>Профили окон</h2>
          <div class="profile__wrap">
            <div class="owl-carousel owl-theme profile__slider">
              <div class="item profile__slide">
                <a
                  href="https://win-doors.ru/standart-mako.html"
                  class="profile__link"
                  ><figure class="profile__img">
                    <img
                      src="/userfiles/clauses/large_news/1140_80-standart-mako.jpg"
                      alt="80 Стандарт. Мако"
                      title="80 Стандарт. Мако"
                    />
                  </figure>
                  <span class="btn profile__btn">80 Стандарт. Мако</span></a
                >
              </div>
              <div class="item profile__slide">
                <a
                  href="https://win-doors.ru/molding-mako.html"
                  class="profile__link"
                  ><figure class="profile__img">
                    <img
                      src="/userfiles/clauses/large_news/1117_molding-mako.jpg"
                      alt="80 Молдинг. Мако"
                      title="80 Молдинг. Мако"
                    />
                  </figure>
                  <span class="btn profile__btn">80 Молдинг. Мако</span></a
                >
              </div>
              <div class="item profile__slide">
                <a
                  href="https://win-doors.ru/istoricheskii-profil-mako.html"
                  class="profile__link"
                  ><figure class="profile__img">
                    <img
                      src="/userfiles/clauses/large_news/1114_istoricheskii-mako.jpg"
                      alt="80 Исторический. Мако"
                      title="80 Исторический. Мако"
                    />
                  </figure>
                  <span class="btn profile__btn">80 Исторический. Мако</span></a
                >
              </div>
              <div class="item profile__slide">
                <a
                  href="https://win-doors.ru/istoricheskii-roto.html"
                  class="profile__link"
                  ><figure class="profile__img">
                    <img
                      src="/userfiles/clauses/large_news/1115_istoricheskii-roto.jpg"
                      alt="80 Исторический. Рото"
                      title="80 Исторический. Рото"
                    />
                  </figure>
                  <span class="btn profile__btn">80 Исторический. Рото</span></a
                >
              </div>
              <div class="item profile__slide">
                <a
                  href="https://win-doors.ru/standart-mako74.html"
                  class="profile__link"
                  ><figure class="profile__img">
                    <img
                      src="/userfiles/clauses/large_news/1126_standart-mako.jpg"
                      alt="92 Стандарт. Мако"
                      title="92 Стандарт. Мако"
                    />
                  </figure>
                  <span class="btn profile__btn">92 Стандарт. Мако</span></a
                >
              </div>
              <div class="item profile__slide">
                <a
                  href="https://win-doors.ru/figurnyi-mako.html"
                  class="profile__link"
                  ><figure class="profile__img">
                    <img
                      src="/userfiles/clauses/large_news/1128_figurnyi-mako.jpg"
                      alt="92 Фигурный. Мако"
                      title="92 Фигурный. Мако"
                    />
                  </figure>
                  <span class="btn profile__btn">92 Фигурный. Мако</span></a
                >
              </div>
              <div class="item profile__slide">
                <a
                  href="https://win-doors.ru/standart-roto.html"
                  class="profile__link"
                  ><figure class="profile__img">
                    <img
                      src="/userfiles/clauses/large_news/1130_standart-roto.jpg"
                      alt="106 Стандарт.Рото"
                      title="106 Стандарт.Рото"
                    />
                  </figure>
                  <span class="btn profile__btn">106 Стандарт.Рото</span></a
                >
              </div>
              <div class="item profile__slide">
                <a
                  href="https://win-doors.ru/komplanarnyi-roto.html"
                  class="profile__link"
                  ><figure class="profile__img">
                    <img
                      src="/userfiles/clauses/large_news/1129_komplanarnyi-roto.jpg"
                      alt="106 Компланарный. Рото"
                      title="106 Компланарный. Рото"
                    />
                  </figure>
                  <span class="btn profile__btn"
                    >106 Компланарный. Рото</span
                  ></a
                >
              </div>
              <div class="item profile__slide">
                <a
                  href="https://win-doors.ru/termovud-roto.html"
                  class="profile__link"
                  ><figure class="profile__img">
                    <img
                      src="/userfiles/clauses/large_news/1131_termovud-roto.jpg"
                      alt="106 Термовуд Рото"
                      title="106 Термовуд Рото"
                    />
                  </figure>
                  <span class="btn profile__btn">106 Термовуд Рото</span></a
                >
              </div>
              <div class="item profile__slide">
                <a
                  href="https://win-doors.ru/starok-dvukhramnyi.html"
                  class="profile__link"
                  ><figure class="profile__img">
                    <img
                      src="/userfiles/clauses/large_news/1136_starokdvukhramnyi.jpg"
                      alt="Staroe okno"
                      title="Старое двухрамное окно"
                    />
                  </figure>
                  <span class="btn profile__btn">Старок. Двухрамный</span></a
                >
              </div>
              <div class="item profile__slide">
                <a
                  href="https://win-doors.ru/dvukhramnyi-istoricheskii-mako.html"
                  class="profile__link"
                  ><figure class="profile__img">
                    <img
                      src="/userfiles/clauses/large_news/1122_dvukhramnyi-istoricheskii.jpg"
                      alt="80-2 Двухрамный исторический. Мако"
                      title="80-2 Двухрамный исторический. Мако"
                    />
                  </figure>
                  <span class="btn profile__btn"
                    >80-2 Двухрамный исторический. Мако</span
                  ></a
                >
              </div>
              <div class="item profile__slide">
                <a
                  href="https://win-doors.ru/standart-derevo-alyuminii-mako.html"
                  class="profile__link"
                  ><figure class="profile__img">
                    <img
                      src="/userfiles/clauses/large_news/1118_standart-derevo-alyuminii-.jpg"
                      alt="80 Стандарт дерево-алюминий. Мако"
                      title="80 Стандарт дерево-алюминий. Мако"
                    />
                  </figure>
                  <span class="btn profile__btn"
                    >80 Стандарт дерево-алюминий. Мако</span
                  ></a
                >
              </div>
              <div class="item profile__slide">
                <a
                  href="https://win-doors.ru/derevo-alyuminii-pryamougolnyi-mako.html"
                  class="profile__link"
                  ><figure class="profile__img">
                    <img
                      src="/userfiles/clauses/large_news/1113_derevo-alyuminii-pryamougol.jpg"
                      alt="80 Дерево-алюминий прямоугольный. Мако"
                      title="80 Дерево-алюминий прямоугольный. Мако"
                    />
                  </figure>
                  <span class="btn profile__btn"
                    >80 Дерево-алюминий прямоугольный. Мако</span
                  ></a
                >
              </div>
              <div class="item profile__slide">
                <a
                  href="https://win-doors.ru/figurnyi-derevo-alyuminii-mako.html"
                  class="profile__link"
                  ><figure class="profile__img">
                    <img
                      src="/userfiles/clauses/large_news/1121_figurnyi-derevo-alyuminii.jpg"
                      alt="80 Фигурный дерево-алюминий. Мако."
                      title="80 Фигурный дерево-алюминий. Мако."
                    />
                  </figure>
                  <span class="btn profile__btn"
                    >80 Фигурный дерево-алюминий. Мако.</span
                  ></a
                >
              </div>
              <div class="item profile__slide">
                <a
                  href="https://win-doors.ru/mira-figurnyi-roto.html"
                  class="profile__link"
                  ><figure class="profile__img">
                    <img
                      src="/userfiles/clauses/large_news/1116_mira-figurnyi-roto.jpg"
                      alt="80 Мира фигурный деревоалюминий . Рото"
                      title="80 Мира фигурный деревоалюминий . Рото"
                    />
                  </figure>
                  <span class="btn profile__btn"
                    >80 Мира фигурный деревоалюминий . Рото</span
                  ></a
                >
              </div>
              <div class="item profile__slide">
                <a
                  href="https://win-doors.ru/derevo-alyuminii-standart-mako.html"
                  class="profile__link"
                  ><figure class="profile__img">
                    <img
                      src="/userfiles/clauses/large_news/1125_derevo-alyuminii-standart.jpg"
                      alt="92 Дерево-алюминий. Стандарт. Мако"
                      title="92 Дерево-алюминий. Стандарт. Мако"
                    />
                  </figure>
                  <span class="btn profile__btn"
                    >92 Дерево-алюминий. Стандарт. Мако</span
                  ></a
                >
              </div>
              <div class="item profile__slide">
                <a
                  href="https://win-doors.ru/derevo-alyuminii-pryamougolnyi-mako72.html"
                  class="profile__link"
                  ><figure class="profile__img">
                    <img
                      src="/userfiles/clauses/large_news/1124_derevo-alyuminii-pryamougol.jpg"
                      alt="92 Дерево-алюминий прямоугольный Мако"
                      title="92 Дерево-алюминий прямоугольный Мако"
                    />
                  </figure>
                  <span class="btn profile__btn"
                    >92 Дерево-алюминий прямоугольный Мако</span
                  ></a
                >
              </div>
              <div class="item profile__slide">
                <a
                  href="https://win-doors.ru/figurnyi-derevo-alyuminii-mako75.html"
                  class="profile__link"
                  ><figure class="profile__img">
                    <img
                      src="/userfiles/clauses/large_news/1121_figurnyi-derevo-alyuminii.jpg"
                      alt="92 Фигурный дерево-алюминий. Мако"
                      title="92 Фигурный дерево-алюминий. Мако"
                    />
                  </figure>
                  <span class="btn profile__btn"
                    >92 Фигурный дерево-алюминий. Мако</span
                  ></a
                >
              </div>
              <div class="item profile__slide">
                <a
                  href="https://win-doors.ru/dvukhramka-roto.html"
                  class="profile__link"
                  ><figure class="profile__img">
                    <img
                      src="/userfiles/clauses/large_news/1123_dvukhramka-roto.jpg"
                      alt="80-35 Двухрамка Рото"
                      title="80-35 Двухрамка Рото"
                    />
                  </figure>
                  <span class="btn profile__btn">80-35 Двухрамка Рото</span></a
                >
              </div>
            </div>
          </div>
        </div>
      </section>
      <section class="arg">
        <div class="wrapper">
          <button type="button" class="btn arg__btn">
            7 аргументов в пользу деревянных окон
          </button>
          <div class="arg__wrap">
            <button type="button" class="arg__close"></button>
            <h2>7 аргументов в пользу деревянных окон</h2>
            <div class="arg__list">
              <div class="arg__block">
                <p class="title-2">1/ Красота</p>
                <p>
                  Окна из натуральной древесины прекрасно сочетаются с мебелью,
                  дверьми, паркетом, несут в себе классическую изысканность и
                  современную функциональность
                </p>
              </div>
              <div class="arg__block">
                <p class="title-2">2/ Деревянные окна «дышат»</p>
                <p>
                  Натуральная древесина "дышит", пропуская воздух через
                  микропоры. Поэтому и при закрытых окнах происходит постепенное
                  проветривание помещения, которое позволяет поддерживать
                  свежесть воздуха и предотвратить появление конденсата
                </p>
              </div>
              <div class="arg__block">
                <p class="title-2">3/ Долговечность</p>
                <p>
                  Ввиду своей натуральности, древесина прекрасно приспособлена к
                  нашим климатическим условиям, а современные красители и
                  пропитки защищают от гниения и природных воздействий, повышая
                  ее долговечность
                </p>
              </div>
            </div>
            <div class="arg__columns">
              <div class="arg__column">
                <div class="arg__block">
                  <p class="title-2">4/ Звукоизоляция</p>
                  <p>
                    Показатели звукоизоляции и теплообмена у окон из дерева
                    ощутимо выше, чем у пластиковых окон той же толщины
                  </p>
                </div>
                <div class="arg__block">
                  <p class="title-2">5/ Прочность</p>
                  <p>
                    Деревянные окна изготавливают из трехслойного клееного бруса
                    толщиной 78 мм. Именно клееный брус гарантирует устойчивость
                    всей оконной конструкции к погодным условиям (такое окно
                    даже с течением времени не покоробит и не поведет), он имеет
                    более высокую прочность и долговечность
                  </p>
                </div>
              </div>
              <div class="arg__column">
                <div class="arg__block">
                  <p class="title-2">6/ Сохраняют тепло в доме</p>
                  <p>
                    Современные деревянные окна обладают низкой
                    теплопроводностью. Для придания пластиковым окнам таких
                    свойств приходится увеличивать число камер внутри профиля,
                    утолщать сам профиль, усиливать системы уплотнения. Все это
                    делает окно более громоздким и неизбежно влияет на цену.
                  </p>
                </div>
                <div class="arg__block">
                  <p class="title-2">7/ Легко ремонтируются</p>
                  <p>
                    Ремонтопригодность деревянных окон позволяет устранять
                    видимые царапины на поверхности. Отремонтировать внешние
                    дефекты на пластиковом окне практически невозможно
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <section class="steps">
        <div class="wrapper">
          <h2>Этапы работы</h2>
          <ul class="steps__list">
            <li class="steps__item">
              <p class="title-2">1/ Заявка</p>
              <p>
                Вы звоните нам или оставляете заявку на электронный адрес,
                WhatsApp или Telegram
              </p>
            </li>
            <li class="steps__item">
              <p class="title-2">2/ Расчет</p>
              <p>Мы делаем предварительный расчёт вашей заявки</p>
            </li>
            <li class="steps__item">
              <p class="title-2">3/ Замер</p>
              <p>С вашего согласия выезжаем на замер</p>
            </li>
            <li class="steps__item">
              <p class="title-2">4/ Окончательный расчет</p>
              <p>
                Делаем окончательный расчёт с учётом всех дополнений и изменений
              </p>
            </li>
            <li class="steps__item">
              <p class="title-2">5/ Договор</p>
              <p>Мы заключаем договор, и вы вносите предоплату</p>
            </li>
            <li class="steps__item">
              <p class="title-2">6/ Производство</p>
              <p>Мы изготавливаем и привозим готовые окна</p>
            </li>
            <li class="steps__item">
              <p class="title-2">7/ Монтаж</p>
              <p>Делаем монтаж и сдаём работу</p>
            </li>
            <li class="steps__item">
              <p class="title-2">8/ Оплата</p>
              <p>Вы подписываете акт приёмки и совершаете доплату</p>
            </li>
            <li class="steps__item">
              <p class="title-2">9/ Новые окна</p>
              <p>Вы получаете удовольствие от новых окон в вашем доме</p>
            </li>
          </ul>
          <a href="#order" class="btn steps__btn order-btn"
            >ЗАКАЗАТЬ РАСЧЁТ ОКНА</a
          >
        </div>
      </section>
      <section class="smi">
        <div class="wrapper">
          <h2>WINWOOD в СМИ</h2>
          <div class="smi__text">
            <p>
              Участие Компании Винвуд в проектах &laquo;Дачный ответ&raquo;
              показывает наши возможности в изготовлении и монтаже деревянных
              окон самых различных конфигураций и свойств
            </p>
          </div>
          <ul class="smi__list">
            <li class="smi__item">
              <a
                data-fancybox=""
                data-src="#smi4"
                href="javascript:;"
                class="smi__link"
                ><figure class="smi__img">
                  <img
                    src="https://win-doors.ru/userfiles/bs/proekt-russkoe-more_4.jpeg"
                    alt=""
                    title=""
                  />
                </figure>
                <div class="smi__info">
                  <p>Проект «Русское море»</p>
                  <span class="btn smi__btn">ПОДРОБНЕЕ</span>
                </div></a
              >
              <div style="display: none" id="smi4" class="popup">
                <p class="title">Проект «Русское море»</p>
                <div class="popup__subtitle">
                  <p>
                    <span
                      >Для этого проекта были изготовлены три окна в пол с
                      технологией обогреваемого стеклопакета</span
                    >
                  </p>
                </div>
                <ul class="popup__list">
                  <li class="popup__item">
                    <a
                      href="https://win-doors.ru/userfiles/bs/bigphoto/1103_proekt-russkoe-more.png"
                      data-fancybox="gallery4bs"
                      class="popup__link"
                      ><img
                        src="/userfiles/bs/large/1103_proekt-russkoe-more.png"
                        alt="Проект «Русское море»"
                        title="Проект «Русское море»"
                    /></a>
                  </li>
                  <li class="popup__item">
                    <a
                      href="https://win-doors.ru/userfiles/bs/bigphoto/1104_proekt-russkoe-more.png"
                      data-fancybox="gallery4bs"
                      class="popup__link"
                      ><img
                        src="/userfiles/bs/large/1104_proekt-russkoe-more.png"
                        alt="Проект «Русское море»"
                        title="Проект «Русское море»"
                    /></a>
                  </li>
                  <li class="popup__item">
                    <a
                      href="https://win-doors.ru/userfiles/bs/bigphoto/1105_proekt-russkoe-more.png"
                      data-fancybox="gallery4bs"
                      class="popup__link"
                      ><img
                        src="/userfiles/bs/large/1105_proekt-russkoe-more.png"
                        alt="Проект «Русское море»"
                        title="Проект «Русское море»"
                    /></a>
                  </li>
                  <li class="popup__item">
                    <a
                      href="https://www.youtube.com/watch?v=9z13rIrHeHw"
                      data-fancybox="video4"
                      class="btn popup__btn"
                      >СМОТРЕТЬ ВЫПУСК</a
                    >
                  </li>
                </ul>
              </div>
            </li>
            <li class="smi__item">
              <a
                data-fancybox=""
                data-src="#smi39"
                href="javascript:;"
                class="smi__link"
                ><figure class="smi__img">
                  <img
                    src="https://win-doors.ru/userfiles/bs/proekt-russkoe-more_39.jpeg"
                    alt=""
                    title=""
                  />
                </figure>
                <div class="smi__info">
                  <p>Проект «Гостиная с наследством»</p>
                  <span class="btn smi__btn">ПОДРОБНЕЕ</span>
                </div></a
              >
              <div style="display: none" id="smi39" class="popup">
                <p class="title">Проект «Гостиная с наследством»</p>
                <div class="popup__subtitle">
                  <p>
                    <span
                      >Нами были изготовлены и установлены арочные окна из сосны
                      в количестве 3 штук по индивидуальному заказу</span
                    >
                  </p>
                </div>
                <ul class="popup__list">
                  <li class="popup__item">
                    <a
                      href="https://win-doors.ru/userfiles/bs/bigphoto/1106_proekt-gostinaya-s-nasleds.png"
                      data-fancybox="gallery39bs"
                      class="popup__link"
                      ><img
                        src="/userfiles/bs/large/1106_proekt-gostinaya-s-nasleds.png"
                        alt="Проект «Гостиная с наследством»"
                        title="Проект «Гостиная с наследством»"
                    /></a>
                  </li>
                  <li class="popup__item">
                    <a
                      href="https://win-doors.ru/userfiles/bs/bigphoto/1107_proekt-gostinaya-s-nasleds.png"
                      data-fancybox="gallery39bs"
                      class="popup__link"
                      ><img
                        src="/userfiles/bs/large/1107_proekt-gostinaya-s-nasleds.png"
                        alt="Проект «Гостиная с наследством»"
                        title="Проект «Гостиная с наследством»"
                    /></a>
                  </li>
                  <li class="popup__item">
                    <a
                      href="https://win-doors.ru/userfiles/bs/bigphoto/1108_proekt-gostinaya-s-nasleds.png"
                      data-fancybox="gallery39bs"
                      class="popup__link"
                      ><img
                        src="/userfiles/bs/large/1108_proekt-gostinaya-s-nasleds.png"
                        alt="Проект «Гостиная с наследством»"
                        title="Проект «Гостиная с наследством»"
                    /></a>
                  </li>
                  <li class="popup__item">
                    <a
                      href="https://www.youtube.com/watch?v=ag1f54uY9G4"
                      data-fancybox="video39"
                      class="btn popup__btn"
                      >СМОТРЕТЬ ВЫПУСК</a
                    >
                  </li>
                </ul>
              </div>
            </li>
          </ul>
        </div>
      </section>
      <section class="call" id="order">
        <div class="wrapper">
          <div class="call__block">
            <h2>ВЫЗВАТЬ ЗАМЕРЩИКА</h2>
            <p>
              <span
                >Сделать вызов на замеры и заказать деревянные окна у нас очень
                просто. </span
              >Оставьте свой номер, и наш специалист свяжется с Вами в ближайшее
              время
            </p>
            <form
              method="POST"
              enctype="multipart/form-data"
              action=""
              class="form ajax"
            >
              <input type="hidden" name="module" value="feedback" />
              <input type="hidden" name="action" value="add" />
              <input
                type="hidden"
                name="form_tag"
                value="feedback64d5e1a77c542941d7cc9b4a4d16b7ac"
              />
              <input type="hidden" name="site_id" value="12" />
              <input
                type="hidden"
                name="tmpcode"
                value="7706d2dc2da6837340effd985dc620b6"
              />
              <div class="form__wrap">
                <div class="form__wrap__fields">
                  <input
                    type="tel"
                    name="p4"
                    value=""
                    class="form__input"
                    placeholder="Номер телефона*"
                    required
                  />
                  <div class="errors error_p4" style="display: none"></div>
                  <div class="form__check">
                    <input
                      name="p1"
                      id="feedback_p1"
                      value="1"
                      type="checkbox"
                      class="form__checkbox"
                    />
                    <label for="feedback_p1" class="form__label"
                      ><p>
                        Согласие на
                        <a href="https://win-doors.ru/privacy.html"
                          >обработку персональных данных</a
                        >
                      </p>
                      <span class="_asterisk"></span
                    ></label>
                  </div>
                  <div class="errors error_p1" style="display: none"></div>
                </div>
                <button class="btn form__btn">Оставить заявку</button>
              </div>
            </form>
            <div class="errors error" style="display: none"></div>
          </div>
        </div>
      </section>
    </main>
    <footer class="footer">
      <div class="footer__wrap">
        <div class="footer__top">
          <div class="footer__logo">
            <img
              class="useradmin_contener"
              data-useradmin=""
              src="https://win-doors.ru/userfiles/site/theme/logo1.png"
              width=""
              height=""
              alt=""
            />
          </div>
          <div class="footer__contacts">
            <a href="tel:+79259914420" class="footer__phone">
              +7 (925) 991 44 20
            </a>
            <a href="mailto:winwood.msk@gmail.com" class="footer__mail">
              winwood.msk@gmail.com
            </a>
            <ul class="social">
              <li class="social__item">
                <a
                  href="https://www.youtube.com/channel/UCga1Mp52dXLlm_rsY4MnYpg"
                  rel="nofollow"
                  title="YouTube"
                  class="social__link social__link--yt"
                  target="_blank"
                ></a>
              </li>
              <li class="social__item">
                <a
                  href="https://t.me/+79259914420"
                  rel="nofollow"
                  title="Telegram"
                  class="social__link social__link--tg"
                  target="_blank"
                ></a>
              </li>
              <li class="social__item">
                <a
                  href="https://wa.me/79259914420"
                  rel="nofollow"
                  title="WhatsApp"
                  class="social__link social__link--wa"
                  target="_blank"
                ></a>
              </li>
            </ul>
          </div>
          <nav class="footer__menu">
            <ul class="footer__list">
              <li class="footer__item">
                <a href="https://win-doors.ru/">Главная</a>
              </li>
              <li class="footer__item">
                <a href="https://win-doors.ru/">Профили окон</a>
              </li>
              <li class="footer__item">
                <a href="https://win-doors.ru/otzyvy.html">Отзывы</a>
              </li>
              <li class="footer__item">
                <a href="https://win-doors.ru/kontakty.html">Контакты</a>
              </li>
              <li class="footer__item">
                <a href="https://win-doors.ru/dostavka-i-montazh.html"
                  >Доставка и монтаж</a
                >
              </li>
              <li class="footer__item">
                <a href="https://win-doors.ru/news.html">Новости компании</a>
              </li>
              <li class="footer__item">
                <a href="https://win-doors.ru/foto.html">Портфолио</a>
              </li>
            </ul>
          </nav>
        </div>
        <div class="footer__bottom">
          <p>
            Копирайты<br />© 1992 - 2025 гг. Компания WINWOOD, Москва<br />Вся
            информация о товарах и услугах представлена исключительно в
            ознакомительных целях и не является публичной офертой.
          </p>
        </div>
      </div>
    </footer>
    <nav id="menu">
      <ul>
        <li><a href="https://win-doors.ru/">Главная</a></li>
        <li>
          <a href="javascript:;">Портфолио</a>
          <ul>
            <li><a href="https://win-doors.ru/foto.html">Фото</a></li>
            <li><a href="https://win-doors.ru/video_okon.html">Видео</a></li>
          </ul>
        </li>
        <li><a href="https://win-doors.ru/otzyvy.html">Отзывы</a></li>
        <li>
          <a href="javascript:;">Профили окон</a>
          <ul>
            <li>
              <a href="https://win-doors.ru/derevyannye-okna.html"
                >Деревянные окна</a
              >
            </li>
            <li>
              <a href="https://win-doors.ru/derevo-alyuminievye-okna.html"
                >Дерево-алюминиевые окна</a
              >
            </li>
          </ul>
        </li>
        <li><a href="https://win-doors.ru/tsveta.html">Цвета</a></li>
        <li>
          <a href="javascript:;">Цены</a>
          <ul>
            <li>
              <a href="https://win-doors.ru/kalkuljator.html"
                >Цены на часто заказываемые окна</a
              >
            </li>
          </ul>
        </li>
        <li>
          <a href="https://win-doors.ru/dostavka-i-montazh.html"
            >Доставка и монтаж</a
          >
        </li>
        <li>
          <a
            href="https://win-doors.ru/iz-chego-skladyvaetsya-stoimost-derevyannogo-okna.html"
            >Конструктор желаний</a
          >
        </li>
        <li>
          <a href="javascript:;">Дополнительно</a>
          <ul>
            <li>
              <a href="https://win-doors.ru/elementy-okna.html"
                >Элементы окна</a
              >
            </li>
            <li>
              <a href="https://win-doors.ru/okonnaja-furnitura.html"
                >Оконная фурнитура</a
              >
            </li>
            <li>
              <a
                href="https://win-doors.ru/okonnyy_kleenyy_brus_listvennitsa_okno.html"
                >Оконный брус</a
              >
            </li>
            <li>
              <a href="https://win-doors.ru/material-okon.html"
                >Материалы для окон</a
              >
            </li>
            <li>
              <a href="https://win-doors.ru/raznovidnosti_okon.html"
                >Разновидности окон</a
              >
            </li>
            <li>
              <a href="https://win-doors.ru/steklopaket.html"
                >Разновидности стеклопакетов</a
              >
            </li>
          </ul>
        </li>
        <li><a href="https://win-doors.ru/news.html">Новости компании</a></li>
        <li><a href="https://win-doors.ru/kontakty.html">Контакты</a></li>
      </ul>
    </nav>
    <script
      type="text/javascript"
      src="//ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"
      charset="UTF-8"
    ></script>
    <script
      type="text/javascript"
      src="https://win-doors.ru/js/jquery.form.min.js"
      charset="UTF-8"
    ></script>
    <script
      type="text/javascript"
      src="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js"
      charset="UTF-8"
    ></script>
    <script
      type="text/javascript"
      src="https://win-doors.ru/js/timepicker.js"
      charset="UTF-8"
    ></script>
    <script type="text/javascript">
      jQuery(function (e) {
        e.datepicker.setDefaults(e.datepicker.regional[""]);
        e.timepicker.setDefaults(e.timepicker.regional[""]);
      });
    </script>
    <script
      type="text/javascript"
      src="https://win-doors.ru/js/jquery.scrollTo.min.js"
      charset="UTF-8"
    ></script>
    <script
      type="text/javascript"
      src="https://win-doors.ru/cache/js/7d8da830b35e5b76b71aee6dbe2d8b4a.js"
      charset="UTF-8"
    ></script>
    <script
      type="text/javascript"
      src="https://win-doors.ru/js/jquery.touchSwipe.min.js"
      charset="UTF-8"
    ></script>
    <script src="https://win-doors.ru/cache/js/a9f3d7aa8eb85d392bd580373603a9ca.js"></script>
    <script
      type="text/javascript"
      src="https://win-doors.ru/cache/js/8fd8812d1a3237ad38f8a5078be4b848.js"
      charset="UTF-8"
    ></script>
    <script
      src="https://win-doors.ru/cache/js/c73b3a026e75a26b93b11d5a4eba1336.js"
      type="text/javascript"
      charset="UTF-8"
    ></script>
    <script></script>
    <script
      type="text/javascript"
      asyncsrc="https://win-doors.ru/cache/js/b6c6d6b85b6352e54f2c7561601ae8ca.js"
    ></script>
    <script
      type="text/javascript"
      asyncsrc="https://win-doors.ru/cache/js/4fb52e9afac8eed50e29e7c0fb64dd35.js"
    ></script>
    <script src="https://win-doors.ru/custom/custom_24_06_2024_12_00/js/mmenu-light.js"></script>
    <script src="https://win-doors.ru/custom/custom_24_06_2024_12_00/js/jquery.maskedinput.js"></script>
    <script src="https://win-doors.ru/cache/js/163b2a3e66523927f1d2100252ef3fb6.js"></script>
    <script src="https://win-doors.ru/cache/js/1f87f3cb4de358ae2adfcd4397bfa42e.js"></script>
    <script type="text/javascript">
      var liveTex = true,
        liveTexID = 32527,
        liveTex_object = true;
      (function () {
        var lt = document.createElement("script");
        lt.type = "text/javascript";
        lt.async = true;
        lt.src = "https://cs15.livetex.ru/js/client.js";
        var sc = document.getElementsByTagName("script")[0];
        if (sc) sc.parentNode.insertBefore(lt, sc);
        else document.documentElement.firstChild.appendChild(lt);
      })();
    </script>
    <script type="text/javascript">
      var _gaq = _gaq || [];
      _gaq.push(["_setAccount", "UA-24468782-2"]);
      _gaq.push(["_trackPageview"]);
      (function () {
        var ga = document.createElement("script");
        ga.type = "text/javascript";
        ga.async = true;
        ga.src =
          ("https:" == document.location.protocol
            ? "https://ssl"
            : "https://www") + ".google-analytics.com/ga.js";
        var s = document.getElementsByTagName("script")[0];
        s.parentNode.insertBefore(ga, s);
      })();
    </script>
    <script type="text/javascript">
      (function (d, w, c) {
        (w[c] = w[c] || []).push(function () {
          try {
            w.yaCounter18807724 = new Ya.Metrika({
              id: 18807724,
              clickmap: true,
              trackLinks: true,
              accurateTrackBounce: true,
              webvisor: true,
            });
          } catch (e) {}
        });
        var n = d.getElementsByTagName("script")[0],
          s = d.createElement("script"),
          f = function () {
            n.parentNode.insertBefore(s, n);
          };
        s.type = "text/javascript";
        s.async = true;
        s.src = "https://mc.yandex.ru/metrika/watch.js";
        if (w.opera == "[object Opera]") {
          d.addEventListener("DOMContentLoaded", f, false);
        } else {
          f();
        }
      })(document, window, "yandex_metrika_callbacks");
    </script>
    <noscript
      ><div>
        <img
          src="https://mc.yandex.ru/watch/18807724"
          style="position: absolute; left: -9999px"
          alt=""
        /></div
    ></noscript>
    <script>
      if (window.innerWidth < 600) {
        $(".arg__btn").click(function () {
          $(".arg__wrap").addClass("arg__wrap--show");
        });
        $(".arg__close").click(function () {
          $(".arg__wrap").removeClass("arg__wrap--show");
        });
      }
    </script>
  </body>
</html>
